<div class="outside">
    <input class="btn btn-lg" type="file" my-file-select="onFileSelect($files)"/>
    <progress value="{{progress}}"></progress>
    <p >{{statusData.length}}{{statusData}}</p>
</div>

<div class="edit" ng-show="screen === 0">
    <textarea class="main" ng-model="workflowText"></textarea>
</div>

<div class="edit" ng-show="screen === 1">
    <workflow-graph></workflow-graph>
</div>
<div class="outside">
    <button class="btn btn-link btn-lg" ng-click="screen = 0">show editor</button>
    <button class="btn btn-link btn-lg" ng-click="screen = 1">show graph</button>
    <button class="btn btn-link btn-lg" ng-click="resetGraph()">reset graph</button>
    <button class="btn btn-link btn-lg" ng-click='showNodeDialog()'>open dialog</button>
</div>
<modal-dialog ng-show='showDialog' width='600px' height='90%'>
    <textarea class="dialog" ng-model="dialogText"></textarea>
</modal-dialog>
